<%= render "layouts/nav_up" %>

<h1>
    <% if @option == "christening" %>
        Christening
    <% elsif @option == "wedding" %>
        Wedding
    <% end %>
    Services
</h1>
<p>blablabla</p>

<%= render "layouts/nav_down" %>