<%= render "layouts/nav_up" %>

<h1>
    <% if @option == "christening" %>
        Christening
    <% elsif @option == "wedding" %>
        Wedding
    <% end %>
    Services
</h1>
<% if @option == "christening" %>
    <h3>Justo mattis libero</h3>
    <p>Gravida lacus felis donec inceptos varius. Libero dolor metus sodales nibh velit. Sed vehicula vivamus. A vel in sed magna sodales. Urna mauris augue nascetur facilisis natoque cursus nam integer. At convallis tellus sollicitudin mollis condimentum a aenean nunc tristique a lobortis tellus posuere lacus. Phasellus massa hymenaeos cursus diam eros. Suscipit non in.</p>
    <h3>Egestas eget id aenean</h3>
    <p>Ullamcorper nullam eget ac arcu tellus. In rutrum pellentesque. Pharetra molestie mauris pellentesque ipsum nulla. Volutpat rutrum ultrices ornare suscipit ante aliquet eleifend labore nonummy semper lobortis ad dignissim parturient mauris id sollicitudin morbi augue neque. Lectus purus lorem. Leo eros sollicitudin. Nisl eget amet. Eu aliquam urna. Amet molestias ridiculus.</p>
<% elsif @option == "wedding" %>
    <h3>Non venenatis morbi</h3>
    <p>Sodales diam nascetur vestibulum vel sed ut nibh totam sed metus faucibus. In integer aliquet. Eros at purus. Rhoncus enim eros pellentesque vitae duis. Aliquet nunc augue fusce praesent non ut ac aenean. Et nostra tristique dapibus fermentum aliquam vel quam vestibulum rhoncus senectus vitae. Imperdiet quam eu. Sollicitudin tincidunt aliquam justo bibendum turpis. Quia volutpat diam. Vitae at eros. Nisl suscipit habitasse vulputate urna ornare malesuada sollicitudin tristique cras mauris autem. Sociis metus consequat sed ut leo donec venenatis porta. Vulputate sit risus.</p>
    <h3>Ut odio laoreet</h3>
    <p>Nec vitae adipiscing magna viverra porta in tortor vestibulum pulvinar ultricies accumsan. Et rhoncus pellentesque vehicula tristique sagittis repellat ultrices sit. Tristique sed dolor. Labore pharetra orci. Venenatis congue rutrum. Et eget consequat. Nibh at felis. Vestibulum aliquam adipiscing porttitor risus ac vitae id at turpis ac fugiat nec molestiae placerat. Pretium justo aliquam dui mauris fermentum.</p>
<% end %>

<%= render "layouts/nav_down" %>