/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.dropdown
{
    position: relative;
    display: inline-block;
}
.dropdown_content
{
    background-color: #222222;
    min-width: 117px;
    display: none;
    position: absolute;
}
.dropdown_content a
{
    color: #AAAAAA;
    padding: 12px 16px;
    text-align: center;
    text-decoration: none;
    display: block;
}
.dropdown_content a:hover
{
    background-color: #444444;
    color: #FFFFFF;
}
.dropdown:hover .dropdown_content
{
    display: block;
}
.dropdown:hover .button_custom_animated
{
    background-color: #444444;
    color: #FFFFFF;
}

.button_custom_animated
{ 
    background-color: #222222;
    color: #AAAAAA;
    text-align: center;
    text-decoration: none;
    font-size: 22px;
    padding: 10px;
    border: none;
    cursor: pointer;
    display: inline-block;
}
.button_custom_animated:hover
{
    color: #FFFFFF;
    transition-duration: 0.4s;
}
.button_custom_animated span
{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
}
.button_custom_animated span:after
{
    content: '▾';
    position: absolute;
    opacity: 0;
    top: 0;
    right: 20px;
    transition: 0.4s;
}
.button_custom_animated:hover span
{
    padding-right: 25px;
}
.button_custom_animated:hover span:after
{
    opacity: 1;
    right: 0;
}