// Place all the styles related to the images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.table_custom
{
    position: relative;
    width: 50%;
    left: 25%;
}

.table_custom td
{
    padding: 15px;
}

.table_custom a
{
    position: relative;
    left: 25%;
}