// Place all the styles related to the Info controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.custom_table
{
}

.custom_table td
{
    padding: 15px;
    text-align: center;
    vertical-align: center;
}

