<%= render "layouts/nav_up" %>

<h1>Bio</h1>

<div class="table-responsive" >
    <table class="custom_table">
        <tr>
            <td>
                <h4>Image</h4>
            </td>
            <td>
                <h4>Name</h4>
            </td>
            <td>
                <h4>Position</h4>
            </td>
            <td>
                <h4>Biography</h4>
            </td>
        </tr>
        <tr>
            <td>
                <img src="https://scontent.fath3-1.fna.fbcdn.net/v/t1.0-9/12105724_10207650501808155_4805735095326406917_n.jpg?oh=ef4395fd4f0379c600f55f2d5e794da3&oe=58CDBA02" style="float:left;width:125px;height:125px;">
            </td>
            <td>
                <p>Baggelis Melligoglou</p>
            </td>
            <td>
                <p>Da Boss</p>
            </td>
            <td>
                <p>Et lacinia sit nunc urna, nec hendrerit adipiscing a nulla. Id tortor nulla etiam, nullam sem per posuere, sodales blandit tristique nisl lobortis, dui sed adipiscing enim quam. Neque ligula porta aliquet, vel lorem justo faucibus nascetur, lectus aenean curabitur eu, rutrum mauris ipsum ipsum. Sem sollicitudin amet blandit posuere, a convallis curabitur risus placerat, mauris gravida consequat arcu. Porta lorem magna neque consectetuer, maecenas vel metus purus. Urna augue dui sed, pulvinar sed nisl nec.</p>
            </td>
        </tr>
        <tr>
            <td>
                <img src="https://scontent.fath3-1.fna.fbcdn.net/v/t1.0-9/14718612_1114959058612311_4991744268758796435_n.jpg?oh=4bc16af44b2e673899df8dd3a73db867&oe=58B04C89" style="float:left;width:125px;height:125px;">
            </td>
            <td>
                <p>Jason Koutoulias</p>
            </td>
            <td>
                <p>Website Developer</p>
            </td>
            <td>
                <p>Et lacinia sit nunc urna, nec hendrerit adipiscing a nulla. Id tortor nulla etiam, nullam sem per posuere, sodales blandit tristique nisl lobortis, dui sed adipiscing enim quam. Neque ligula porta aliquet, vel lorem justo faucibus nascetur, lectus aenean curabitur eu, rutrum mauris ipsum ipsum. Sem sollicitudin amet blandit posuere, a convallis curabitur risus placerat, mauris gravida consequat arcu. Porta lorem magna neque consectetuer, maecenas vel metus purus. Urna augue dui sed, pulvinar sed nisl nec.</p>
            </td>
        </tr>
        <tr>
            <td>
                <img src="https://scontent.fath3-1.fna.fbcdn.net/v/t1.0-9/10557254_620475918104281_5011311291369610253_n.png?oh=706c081e738b718631185b25196c5a2c&oe=58F8C347" style="float:left;width:125px;height:125px;">
            </td>
            <td>
                <p>Erifili Sotiraki</p>
            </td>
            <td>
                <p>Cheerleader</p>
            </td>
            <td>
                <p>Et lacinia sit nunc urna, nec hendrerit adipiscing a nulla. Id tortor nulla etiam, nullam sem per posuere, sodales blandit tristique nisl lobortis, dui sed adipiscing enim quam. Neque ligula porta aliquet, vel lorem justo faucibus nascetur, lectus aenean curabitur eu, rutrum mauris ipsum ipsum. Sem sollicitudin amet blandit posuere, a convallis curabitur risus placerat, mauris gravida consequat arcu. Porta lorem magna neque consectetuer, maecenas vel metus purus. Urna augue dui sed, pulvinar sed nisl nec.</p>
            </td>
        </tr>
    </table>
</div>

<%= render "layouts/nav_down" %>