<%= render "layouts/nav_up" %>

<h2>Contact Us</h2>
<hr>
<p>Send a message <%= link_to "Here" %></p>
<p>Email: jasonkoutoulias@gmail.com</p>
<p>Mobile: +30 1234567890</p>

<%= render "layouts/nav_down" %>