                <br>
                <br>
                <br>
                <hr>
                <%= render "layouts/footer" %>
            </div>
        </div>
    </div>
    <style> body { padding-top: 70px; } </style>